
.login-box{

  padding: 10px;
  margin-top: 75px;
  z-index: 1;

  .lo-title{
    font-size: 23px;
    color: #FFFFFF !important;
    text-align: center;
    font-weight: 600;
    font-family:'Open Sans';
  }

  .login-form{
    margin-top: 32px;

    input{
      height: 34px;
     
    }
    svg{
      color: #FFFFFF;
    }

    .form-input{
      background-color: rgba(217, 217, 217, 0.3) !important;
      border: 0px;
      color: #FFF;
      font-size: 15px;
      margin-bottom: 11px;
    }
  

  }

  .formItem_title{
    font-size: 15px;
    color: #FFF;
    margin-right: 10px;
  }


  .login-button{
    width: 100%;
    height: 44px;
    background-color: #00F794;
    color: #000000;
  }

  .code-div{
    display: flex;
    align-items: center;
    img{
      margin-left: 10px;
      width: 90px;
      
      margin-bottom: 11px;

    }
  }

}



.login-ot-div{
  display: flex;
  margin-top: 13px;
  padding: 0px 8px 0px 8px;
  justify-content: space-between;
  cursor: pointer;
  .ot-sp{
    color: #FFFFFF;
  }

}

