    //随机表情
    .emoji-div {
        .content-title .ant-checkbox-wrapper {
            font-size: 14px;
            color: #FFF;
        }
        .text-div {
            margin-top: 10px;
            color: #707271;
        }
    }

    //兜底回复
    .finally-div {
        margin-top: 10px;

        .content-title .ant-checkbox-wrapper {
            font-size: 14px;
            color: #FFF;
        }
        .text-div {
            margin-top: 10px;
            color: #707271;
        }
        
        
    }
    .input-div {
        margin-top: 10px;
        &::placeholder {
            color: #FFFFFF;
          }

        input {
            background-color: #1b1e1c  !important;
            color: #707271;
            border-color: #1b1e1c;
        }

        input:hover{
            color: #FFF !important;
            border-color: #FFF;
        }
    }

 