.frequency-allocation{
  // padding-bottom: 100px;
  .verbal-trick{
    margin-top: 20px;
    margin-bottom: 30px;
    &>.title{
      font-size: 14px;
      margin-bottom: 10px;
    }
    ul{
      li{
        margin-bottom: 30px;
        .top{
          display: flex;
          align-items: center;
          .title{
            font-size: 14px;
            color: white;
          }
          .seconds{
            display: flex;
            align-items: center;
            margin-left: 10px;
            flex: 1;
            .seconds-input{
              width: 60px;
              height: 20px;
              text-align: center;
              border-radius: 4px;
              background: rgba(255, 255, 255, 0.1);
              color: rgba(255, 255, 255, 0.5);
              border: none;
            }
            span{
              font-size: 12px;
              color: rgba(255, 255, 255, 0.5);
              margin-left: 5px;
            }
          }
        }
        .bottom{
          margin-top: 10px;
          padding-right: 10px;
          width: 100%;
          .cont-input{
            color: rgba(0, 0, 0, 0.7);
          }
        }
      }
      li:last-child{
        margin-bottom: 10px;
      }
    }
    .btn{
      width: 50px;
      height: 20px;
      text-align: center;
      line-height: 20px;
      color: rgba(255, 255, 255, 0.5);
      font-size: 12px;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 4px;
      margin-right: 10px;
      cursor: pointer;
    }
    .btn:hover{
      background-color: rgba(255, 255, 255, 0.2);
      color: white;
    }
  }
  .comm-box{
    margin-bottom: 30px;
    .title{
      font-size: 14px;
      color: white;
    }
    .tips{
      font-size: 12px;
      color: rgba(255, 255, 255, 0.5);
    }
    ul{
      margin-top: 20px;
      li{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 14px;
        .left{
          display: flex;
          align-items: center;
          .number-txt,.seconds-txt{
            width: 40px;
            height: 20px;
            text-align: center;
            border-radius: 4px;
            background: rgba(255, 255, 255, 0.1);
            color: rgba(255, 255, 255, 0.5);
            border: none;
          }
          span{
            font-size: 12px;
            color: rgba(255, 255, 255, 0.5);
            margin-left: 5px;
          }
          .seconds-txt{
            width: 60px;
          }
        }
        .right{
          display: flex;
          align-items: center;
          
        }
      }
    }
    .btn{
      width: 50px;
      height: 20px;
      text-align: center;
      line-height: 20px;
      color: rgba(255, 255, 255, 0.5);
      font-size: 12px;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 4px;
      margin-right: 10px;
      cursor: pointer;
    }
    .btn:hover{
      background-color: rgba(255, 255, 255, 0.2);
      color: white;
    }
  }
}