.loop-speaks-body{


    .button-div:hover{
        color: #FFF !important;
        border-color: #FFF;
    }
}

.loop-speak{
    display: flex;

    .lp-speak-title{
        font-size: 14px;
        color: #FFF;
        font-weight: 700;
    }

    .hz-div{
        margin-left: 10px;
        color: #616362;
        
        .hz-title{
            margin-left: 10px;
        }
    }

    
}



.tags-div{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.tag-item{
    display: flex;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #1B1E1C;
    border-radius: 4px;
    max-width: 30%;
    padding: 3px;

    .anticon{
        color: #FFF !important;
    }
    
}

.tag-title{
    color: #FFF;
    max-width: 100%;
    overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.loop-title{
    display: flex;
    flex-direction: column;
    .lp-title-span{
        color: #FFF;
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 10px;
    }
    .lp-title-span-desc{
        color: #707271;
        font-size: 12px;
        margin-bottom: 10px;
    }

}

.exp-item{
    margin-bottom: 20px;

    .shopId-num{
        width: 30px;
    }
    .shop-timeout{
        width: 60px;
    }
    span{
        color: #707271;
    }
    .shop-span{
        margin-left: 8px;
        margin-right: 20px;
    }
}