.main-div{
    // padding: 10px;
    
   .top-header{
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px #E6E6E6 solid;
    margin-bottom: 35px;
    padding: 0px 2px 20px 0px;
    

    .header-title{
      font-size: 20px;
    }
   }

   .formItem{
    display: flex;
   }
}