.custom-label {
    color: #707271;
}

//每行表单距离底部
.ant-form-item {
    margin-bottom: 5px;
}
//添加按钮
.button-div {
    margin-top: 10px;
    background-color: #1b1e1c;
    color: #707271;
}

//每行表单中按钮
.buttonText-div {
    background-color: #1b1e1c;
    color: #707271;
}

.keyword-from-div{


    .buttonText-div:hover{
        color: #FFF !important;
        border-color: #FFF;
    }

    .button-div:hover{
        color: #FFF !important;
        border-color: #FFF;
    }
    .remove-svg:hover{
        color: #FFF !important;
        // border-color: #FFF;
    }

}

