.content-entry{
    position:fixed;
    z-index:999999;
    bottom:100px;
    right:20px;
    width:50px;
    height:50px;
    background-image: url("./components/images/content-icon.png");
    background-size:100% 100%;
    cursor:pointer;

}
.fiexdBut-Menu-div{
    width: 200px;
    height: 200px;
    border: 2px solid #333; /* 设置边框 */
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3); /* 设置阴影 */
    margin: 50px; /* 添加一些外边距 */
}