.header-main-div{
    padding: 10px;
   
    display: flex;
    justify-content: space-between;
    .left-header{
        display: flex;
        width: 39%;
        .logo-img{
            margin-right: 10px;
            cursor: pointer;
        }

        .main-title{
            font-size: 12px;
            color: #FFF;
            font-weight: 700;
            display: flex;
            align-items: center;
            
          }
    }

    .right-header{
        .shezhi-icon{
            margin-right: 10px;
        }
        .top-select{
            
            .ant-select-selector{
                background-color: #1B1E1C;
                border-color: #1B1E1C;
            }
            .ant-select-selection-item{
                color: #FFF;
            }
        
           
        }

        
    }



}

.shezhi-icon{
    color: #FFF;
    cursor: pointer;
}