.main-div{
    display: flex;
    flex-direction: column;
    padding: 10px 20px 10px 20px;
    background-color: #000000;
    height: 100vh; /* 设置容器高度为视口高度 */
    overflow-y: auto; /* 启用垂直滚动条 */

}

.live-body-div{

    margin-left: 14px;

    margin-top: 10px;

}

.keyword-div{

    .keyword-desc-div{
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 10px;
    }
 

    .keyword-title{
        color: #FFF;
        font-size: 14px;
    }
    .keyword-expm{
        color: #808281;
        font-size: 12px;
    }

}

.add-keyword{
    margin-top: 20px;
    color: #8D8E8D;
    background-color: #1B1E1C;
    border-color: #1B1E1C;
    width: 50px;
    height: 20px;
    font-size: 12px;

    .add-icon{
        font-size: 8px;
    }

}

.keys-qa-div{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;

    .qa-title{
        color: #808281;
        font-size: 14px;
        margin-right: 10px;
    }
    .an-title{
        margin-left: 10px;
    }
}
.del-but{
    margin-top: 0px !important;
    margin-left: 10px;
}

// .cont-div{
//     margin-left: 10px;
// }

.save-but-div{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    .save-butto{
        background-color: #00F79C;
        color: #000;
        border-color: #00F79C;
        width: 230px;
    }

}